.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: #1A0B2E;
}
.logo{
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    
}
.nav-links li{
    margin-left: 25px;
}
.nav-links a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.nav-btn{
    background: linear-gradient(to right, rgb(245, 245, 62), rgb(241, 145, 161), rgb(197, 9, 197));
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    margin-left: 350px;

}
.nav-btn:hover{
    background: linear-gradient(to right, red, yellow, aqua);

}
.hamburger-icon{
    display: none;
}
 .menu-che{
        display: none;
    }
    #wave{
        color: rgb(229, 108, 128);
    }






.banner {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../image/hero-bg.png);
    background-size: cover;
}

.ai-container {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.circle {
    width: 300px;
    height: 310px;    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
    background-image: url(../image/hero-circle.png);
    background-size: cover;
    background-position: center;
}

.new-badge {
    position: absolute;
    top: 5px;
    right: 50px;
    background: #00ff88;
    color: black;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 8px;
    border-radius: 10px;
    z-index: 6;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: white;
}

.tagline {
    font-size: 14px;
    color: #b0b0b0;
    max-width: 400px;
    margin: 0 auto 30px;
}

.buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s;
}

.spotify {
    background: #d24e78;
    color: white;
}

.subscribe {
    border: 1px solid #444;
    color: green
}

.btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}


.about{
    width: 100%;
    height: 640px;
    /* border: 2px solid aqua; */
    background-color: #1A0B2E;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -27px;

}
.about h2{
    font-size: 2rem;
    font-weight: bold;
}
.about p{
    color: #FFFFFF;
}
.about .podcast{
    width: 80%;
    height: 222px;
    /* border: 2px solid aqua; */
    margin: 0 auto;
}
.about hr{
    width: 80%;
    color: white;
    margin: 100px auto 100px;
}
.about .card-box{
    width: 80%;
    height: 95px;
    /* border: 2px solid aqua; */
    margin: 100px auto;
}
.about .card-box ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    /* justify-content: space-between; */
    /* align-items: center; */
}
.about .card-box ul h2{
    font-size: 3rem;
    font-weight: bolder;
    color: green;
    margin-bottom: 0px;
}

.choose{
    width: 100%;
    height: 850px;
    /* border: 2px solid aqua; */
    /* align-items: center;
    justify-content: center; */
    background-color: #1d0c34;
    margin-top: -41px;
}
.choose .container{
    width: 80%;
    height: 780px;
    /* border: 2px solid aqua; */
    margin: 50px auto;
}
.choose .h2r{
    font-size: 3rem;
    font-weight: bolder;
    color: white;
    padding-left: 350px;
    padding-top: 50px;
}
.choose .container .box>*{
    /* border: 1px solid gold; */
    /* height: 220px; */
    border-radius: 8px;
    background-color: #462a6c;
    padding: 10px;
}


/* .bg-color{
    background-color: #48217c;
} */
.music{
    grid-area: music;
}
.mobile{
    grid-area: mobile;

}
.global{
    grid-area: global;
}
.book{
    grid-area: book;
}
.exclusive{
    grid-area: exclusive;
}
.choose .container .box{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "music mobile mobile"
    "music global global"
    "exclusive exclusive book";
}

.yt-video{
     width: 100%;
     height: 1276px;
     background-color: #090310;
}
.yt-video h2{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    /* justify-content: center; */
    text-align: center;
}
.yt-video .video-container{
    width: 75%;
    height: 538px;
    border: 2px solid yellow;
    position: absolute;
    margin-top: 100px;
    margin-left: 150px;
    /* padding-top: 100px; */
}

.yt-video .video-container .card-box{
    width: 100%;
    height: 420px;
    border: 2px solid yellow;
}
.yt-video .host-container{
    width: 75%;
    height: 378px;
    /* border: 2px solid yellow; */
    position: absolute;
    margin-top: 800px;
    margin-left: 150px;

}
.yt-video .host-container .h-card-box{
    width: 100%;
    height: 270px;
    /* border: 2px solid yellow; */
    background-color: #201135;
    border-radius: 20px;
}
.yt-video .host-container .h-card-box img{
    margin-top: 20px;
    margin-left: 15px;
}
.yt-video .host-container .h-card-box .mini-box{
    width: 75%;
    height: 183px;
    /* border: 2px solid yellow; */
    position: absolute;
    margin-left: 230px;
    margin-top: -180px;
    color: white;
}
.yt-video .host-container .h-card-box .mini-box h3{
    font-size: 2rem;
    margin-top: -10px;
}
.yt-video .host-container .h-card-box .mini-box ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.footer{
    width: 100%;
    height: 400px;
    /* border: 2px solid yellow; */
    background-image: url(../image/footer-bg.png);
    background-size: cover;
}
.footer .footer-box{
    width: 80%;
    height: 172px;
    /* border: 1px solid yellow; */
    position: absolute;
    margin-top: 120px;
    margin-left: 100px;
    color: white;
    /* text-align: center; */
}
.footer .footer-box span{
    color: #e83e74;
}
.footer .footer-box h2{
    margin-left: 450px;
    font-size: 3rem;
    margin-top: -10px;
}

.footer .footer-box p{
    margin-top: 40px;
    margin-left: 400px;
}
.footer .footer-box .ul-box{
    width: 50%;
    height: 25px;
    /* border: 1px solid yellow; */
    margin-left: 300px;
    margin-top: 30px;
}
.footer .footer-box .ul-box ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}






@media screen and (max-width: 576px){
    .hamburger-icon{
        display: block;
    }
    .nav-links{
        position: absolute;
        top: 70px;
        right: -100%;
        flex-direction: column;
        background-color: #333;
        width: 250px;
        height: 100vh;
        padding-top: 50px;
        transition: 0.4s;


    }
    .menu-che:checked ~ .nav-links{
        right: 0;
    }
    .nav-links li{
        margin: 15px 0;

    }
    .menu-che{
        display: none;
    }

    .circle {
    width: 250px;
    height: 250px;    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
    background-image: url(../image/hero-circle.png);
    background-size: cover;
    background-position: center;
}


.about .card-box {
    width: 90%;
    height: 250px;
    /* border: 2px solid aqua; */
    margin: -120px auto;
}
.about .card-box ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.choose{
    height: 1360px;
}
.choose .h2r {
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    padding-left: 41px;
    padding-top: 50px;
}

.music{
    grid-area: music;
}
.mobile{
    grid-area: mobile;

}
.global{
    grid-area: global;
}
.book{
    grid-area: book;
}
.exclusive{
    grid-area: exclusive;
}
.choose .container .box{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "music"
    "mobile"
    "global"
    "exclusive"
    "book";
}


}